<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- use deployment mode for wicket -->
	<context-param>
		<param-name>configuration</param-name>
		<param-value>DEPLOYMENT</param-value>
	</context-param>
	<!-- Load Spring and wicket integration -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/applicationContext.xml
		</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.wicket.detectPortletContext</param-name>
		<param-value>true</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>



	<!-- Mobile Client Service RESTFUL -->

	<servlet>
		<servlet-name>mobileclient</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>mobileclient</servlet-name>
		<url-pattern>/mobileclient/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>rest</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>rest</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>
			com.hp.sdf.ngp.ws.servlet.GeneralServletProxy</servlet-class>
		<init-param>
			<param-name>targetBean</param-name>
			<param-value>binaryDownloadServiceController</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>notify</servlet-name>
		<servlet-class>
			com.hp.sdf.ngp.ws.servlet.GeneralServletProxy</servlet-class>
		<init-param>
			<param-name>targetBean</param-name>
			<param-value>downloadNotifyServiceController</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>notify</servlet-name>
		<url-pattern>/notify/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginservice</servlet-name>
		<servlet-class>
			com.hp.sdf.ngp.ws.servlet.GeneralServletProxy</servlet-class>
		<init-param>
			<param-name>targetBean</param-name>
			<param-value>loginServiceController</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginservice</servlet-name>
		<url-pattern>/loginservice/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<servlet-name>mobileclient</servlet-name>
	</filter-mapping>
	<!-- Mobile Client Service RESTFUL -->


<!-- 
	<filter>
		<filter-name>wicketFilter</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>wicketApplication
			</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicketFilter</filter-name>
		<url-pattern>/web/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
 -->

	<!--Wicket Portlet Application  -->

	<!-- For Category portlet -->
	<filter>
		<filter-name>portlet.category</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>categoryApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.category</filter-name>
		<url-pattern>/portlet/category/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>


	<!-- For Platform portlet -->
	<filter>
		<filter-name>portlet.platform</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>platformApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.platform</filter-name>
		<url-pattern>/portlet/platform/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>


	<!-- For APP Search portlet -->
	<filter>
		<filter-name>portlet.appsearch</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>appSearchApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.appsearch</filter-name>
		<url-pattern>/portlet/appsearch/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<!-- For APP List portlet -->
	<filter>
		<filter-name>portlet.applist</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>appListApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.applist</filter-name>
		<url-pattern>/portlet/applist/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>


	<!-- For APP Top portlet -->
	<filter>
		<filter-name>portlet.apptop</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>appTopApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.apptop</filter-name>
		<url-pattern>/portlet/apptop/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<!-- For APP Top portlet -->
	<filter>
		<filter-name>portlet.apprecommended</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>appRecommendedApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.apprecommended</filter-name>
		<url-pattern>/portlet/apprecommended/*
		</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<!-- For service List portlet -->
	<filter>
		<filter-name>portlet.servicelist</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>serviceListApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.servicelist</filter-name>
		<url-pattern>/portlet/servicelist/*
		</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<!-- For my userinfo portlet -->
	<filter>
		<filter-name>portlet.userinfo</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>userInfoApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.userinfo</filter-name>
		<url-pattern>/portlet/userinfo/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>


	<!-- For my portal portlet -->
	<filter>
		<filter-name>portlet.myportal</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>myPortalApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.myportal</filter-name>
		<url-pattern>/portlet/myportal/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>


	<!-- For configuration portlet -->
	<filter>
		<filter-name>portlet.configuration</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>configurationApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.configuration</filter-name>
		<url-pattern>/portlet/configuration/*
		</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<!-- For api configuration portlet -->
	<filter>
		<filter-name>portlet.apiconfiguration</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>apiConfigurationApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.apiconfiguration</filter-name>
		<url-pattern>/portlet/apiconfiguration/*
		</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<!-- For batchupload configuration portlet -->
	<filter>
		<filter-name>portlet.batchuploadconfiguration</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>batchuploadConfigurationApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.batchuploadconfiguration</filter-name>
		<url-pattern>/portlet/batchuploadconfiguration/*
		</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<!-- For Handmark import configuration portlet -->
	<filter>
		<filter-name>portlet.handmarkimportconfiguration</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>handmarkimportConfigurationApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.handmarkimportconfiguration</filter-name>
		<url-pattern>/portlet/handmarkimportconfiguration/*
		</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<!-- For asset search portlet -->
	<filter>
		<filter-name>portlet.assetsearchconfiguration</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>assetSearchConfigurationApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.assetsearchconfiguration</filter-name>
		<url-pattern>/portlet/assetsearchconfiguration/*
		</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<!-- For OAM Navigator Top portlet -->
	<filter>
		<filter-name>portlet.oamnavigator</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>oamNavigatorApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.oamnavigator</filter-name>
		<url-pattern>/portlet/oamnavigator/*
		</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>


	<!-- For OAM Content Managerment portlet -->
	<filter>
		<filter-name>portlet.oamcontentmanagerment</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>oamContentManagermentApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.oamcontentmanagerment</filter-name>
		<url-pattern>/portlet/oamcontentmanagerment/*
		</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<!-- For OAM Recommended Managerment portlet -->
	<filter>
		<filter-name>portlet.oamrecommendedmanagerment</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>oamRecommendedManagermentApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.oamrecommendedmanagerment</filter-name>
		<url-pattern>/portlet/oamrecommendedmanagerment/*
		</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<!-- For OAM Category Managerment portlet -->
	<filter>
		<filter-name>portlet.oamcategorymanagerment</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>oamCategoryManagermentApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.oamcategorymanagerment</filter-name>
		<url-pattern>/portlet/oamcategorymanagerment/*
		</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<!-- For OAM Censored Word Managerment portlet -->
	<filter>
		<filter-name>portlet.oamcensoredwordmanagerment</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>oamCensoredWordManagermentApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.oamcensoredwordmanagerment</filter-name>
		<url-pattern>/portlet/oamcensoredwordmanagerment/*
		</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<!-- For OAM Comments Managerment portlet -->
	<filter>
		<filter-name>portlet.oamcommentsmanagerment</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>oamCommentsManagermentApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.oamcommentsmanagerment</filter-name>
		<url-pattern>/portlet/oamcommentsmanagerment/*
		</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<!-- For OAM Store Client portlet -->
	<filter>
		<filter-name>portlet.oamstoreclient</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>oamStoreClientApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.oamstoreclient</filter-name>
		<url-pattern>/portlet/oamstoreclient/*
		</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<!-- For OAM Statistic portlet -->
	<filter>
		<filter-name>portlet.oamstatisticapplication</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>oamStatisticApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.oamstatisticapplication</filter-name>
		<url-pattern>/portlet/oamstatisticapplication/*
		</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	
	<!-- For OAM Account Managerment portlet -->
	<filter>
		<filter-name>portlet.oamaccountmanagerment</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>oamAccountManagermentApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.oamaccountmanagerment</filter-name>
		<url-pattern>/portlet/oamaccountmanagerment/*
		</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	
	<!-- For OAM Platform Managerment portlet -->
	<filter>
		<filter-name>portlet.oamplatformapplication</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>oamPlatformApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.oamplatformapplication</filter-name>
		<url-pattern>/portlet/oamplatformapplication/*
		</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	
	<!-- For OAM HandSet portlet -->
	<filter>
		<filter-name>portlet.oamhandsetapplication</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>oamHandsetApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.oamhandsetapplication</filter-name>
		<url-pattern>/portlet/oamhandsetapplication/*
		</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	
	<!-- For OAM Purchase History portlet -->
	<filter>
		<filter-name>portlet.oampurchasehistoryapplication</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory
			</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>oamPurchaseHistoryApplication
			</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>portlet.oampurchasehistoryapplication</filter-name>
		<url-pattern>/portlet/oampurchasehistoryapplication/*
		</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	

	<!-- end of Portlet Configuration -->

	<!--
		The final is the OSIV solution, which should be put in the bottom
	-->
	<!-- resolve the lazy load problem for hibernate-->
	<filter>
		<filter-name>hibernateOpenSessionInViewFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<param-name>sessionFactoryBeanName</param-name>
			<param-value>localSessionFactory</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>hibernateOpenSessionInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	



	<listener>
		<listener-class>
			org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<!--
		<filter> <filter-name>OpenEntityManagerInViewFilter </filter-name>
		<filter-class>
		org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter
		</filter-class> </filter> <filter-mapping>
		<filter-name>OpenEntityManagerInViewFilter </filter-name>
		<url-pattern>/*</url-pattern> </filter-mapping>
	-->
	<!-- Session timeout -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>
