div.login-container {
   font-family: Verdana, Arial, Helvetica, Sans-Serif, sans-serif;
   font-size: 11px;
   width: 255px;
   border: 1px solid #436999;
   position: relative;
   margin: 0 auto 0 auto;
   background-color:white;
}

input.cancel-button,
input.login-button {
   background-color: #5078AA;
   border-color: #97B7C6 rgb( 37, 72, 105 ) rgb( 37, 72, 105 ) rgb( 151, 183, 198 );
   border-style: solid;
   border-width: 1px;
   color: #FFFFFF;
   font-size: 10px;
   font-weight: bold;
   position: absolute;
}

input.login-button {
   bottom: 25px;
   right: 110px;
   width: 90px;
}

input.cancel-button {
   bottom: 25px;
   right: 10px;
   width: 90px;
}

div.login-container div.login-header {
   background-image: url( ../images/modal/login-header-bg.gif );
   background-position: top left;
   background-repeat: repeat-x;
   width: 255px;
   height: 27px;
   text-align: left;
}

div.login-container div.login-header h2 {
   color: #fff;
   font-weight: bold;
   padding: 7px 0 0 5px;
   margin: 0;
   font-size: 11px;
   text-align: left;
}

div.login-container div.login-content {
   background-image: url( ../images/modal/login-content-bg.gif );
   background-position: top left;
   background-repeat: repeat-x;
   width: 255px;
   font-weight: bold;
   text-align: right;
}

div.login-container div.login-content div.form-field {
   height: 25px;
   padding: 5px 11px 0 0;
}

div.error-message {
   color: red;
   margin: 0 auto 0 auto;
   font-family: Verdana, Arial, Helvetica, Sans-Serif, sans-serif;
   font-size: 11px;
   padding: 5px;
   font-weight:normal;
   text-align:left;
}

div.button-container{
   height: 50px;
   position: relative;
}